
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}
.container{
    display: flex;
    flex-direction: column;
    border: 4px solid #333;
}
.row{
    display: flex;
}
.col{
    width: 60px;
    height: 60px;
}
.row:nth-child(odd) .col:nth-child(even),
.row:nth-child(even) .col:nth-child(odd)
{
    background-color: #000;
}

.row:nth-child(odd) .col:nth-child(odd),
.row:nth-child(even) .col:nth-child(even)
{
    background-color: #fff;
} 